{{#resume.basics}}
    <h1>{{{ name }}}</h1>
    <div id="contact">
      {{#if email}}<div class="email"><a href="mailto:{{{ email }}}">{{ email }}</a></div>{{/if}}
      {{#if phone}}<div class="phone">{{ phone }}</div>{{/if}}
      {{#if website}}<div class="website"><a href="{{{ website }}}">{{ website }}</a></div>{{/if}}
    </div>
	<h1>{{name}}</h1>
	<h2>{{label}}</h2>
	<section id="basics">
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</section>
{{/resume.basics}}
