{{#resume.basics}}
<header>
    <section class="grid-x">
        <div class="cell auto">
            <h1 class="resume-name">{{{ name }}}</h1>
        </div>

        <div id="contact" class="cell shrink">
            {{#if email}}<span class="email cell shrink"><a href="mailto:{{{ email }}}">{{ email }}</a></span>&nbsp;{{/if}}
            {{#if phone}}<span class="phone cell shrink">{{ phone }}</span>&nbsp;{{/if}}
            {{#if website}}<span class="website cell shrink"><a href="{{{ website }}}">{{ website }}</a></span>{{/if}}
        </div>
    </section>

    {{#if profiles}}
    <section class="grid-x grid-margin-x align-right">
        {{#each profiles}}
        <div class="cell shrink">
            <span class="fab fa-{{toLowerCase network}}"></span>&nbsp;<a href="{{url}}">{{username}}</a>
        </div>
        {{/each}}
    </section>
    {{/if}}

	<section id="basics">
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</section>
</header>
{{/resume.basics}}
