{{#if resume.education.length}}
<hr>
<section id="education">
	<h2>Education</h2>
	{{#each resume.education}}
    <div class="grid-x grid-margin-x item">
        {{#if institution}}
        <div class="cell small-8 institution">
            {{institution}}
        </div>
        {{/if}}
        <div class="cell auto text-right date">
            {{#if startDate}}
            <span class="startDate">
                {{#standardizeDate}}{{startDate}}{{/standardizeDate}} -
            </span>
            {{/if}}
            {{#if endDate}}
            <span class="endDate">
                {{#standardizeDate}}{{endDate}}{{/standardizeDate}}
            </span>
            {{else}}
            <span class="endDate">
                Present
            </span>
            {{/if}}
        </div>
    </div>

	<div class="grid-x grid-margin-x">
		{{#if area}}
		<div class="area">
			{{area}}
		</div>
		{{/if}}
		{{#if studyType}}
		<div class="studyType">
			{{studyType}}
		</div>
		{{/if}}
		{{#if gpa}}
		<div class="gpa">
			GPA: {{gpa}}
		</div>
		{{/if}}
		{{#if courses.length}}
		<ul class="courses">
			{{#each courses}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}