{{#if resume.education.length}}
<hr>
<section id="education">
    <h2><span class="fas fa-graduation-cap"></span>&nbsp;Education</h2>
    {{#each resume.education}}
    <div class="grid-x grid-margin-x item">
        {{#if institution}}
        <div class="cell small-8 institution">
            {{institution}}
        </div>
        {{/if}}
        <div class="cell auto text-right date">
            {{#if startDate}}
            <span class="startDate">
                {{#standardizeDate}}{{startDate}}{{/standardizeDate}} -
            </span>
            {{/if}}
            {{#if endDate}}
            <span class="endDate">
                {{#standardizeDate}}{{endDate}}{{/standardizeDate}}
            </span>
            {{else}}
            <span class="endDate">
                Present
            </span>
            {{/if}}
        </div>
    </div>

    <div class="grid-x grid-margin-x item">
        {{#if studyType}}
        <div class="cell shrink studyType">
            {{studyType}}{{#if area}}, {{area}}{{/if}}
        </div>
        {{/if}}
        {{#unless studyType}}
            {{#if area}}
            <div class="cell shrink area">
                {{area}}
            </div>
            {{/if}}
        {{/unless}}

        {{#if gpa}}
        <div class="cell gpa">
            GPA: {{gpa}}
        </div>
        {{/if}}
    </div>

    {{#if courses.length}}
    <div class="grid-x grid-margin-x item">
        <ul class="cell courses">
            {{#each courses}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{/each}}
</section>
{{/if}}
