{{#if resume.work.length}}
<hr>
<section id="work">
	<h2>Employment</h2>
	{{#each resume.work}}
    <div class="work-entry">
        <div class="grid-x grid-margin-x">

            {{#if position}}
                <div class="cell small-6 large-4"><span class="position-title">{{position}}</span></div>
            {{/if}}

            {{#if company}}
                <div class="cell shrink">
                    {{#if website}}<a href="{{website}}">{{/if}}
                    <span class="company-name">{{company}}</span>
                    {{#if website}}</a>{{/if}}
                </div>
            {{/if}}

            <div class="cell auto text-right date">
                {{#if startDate}}
                <span class="startDate">
                    {{#standardizeDate}}{{startDate}}{{/standardizeDate}}
                </span>
                {{/if}}
                {{#if endDate}}
                <span class="endDate">
                    - {{#standardizeDate}}{{endDate}}{{/standardizeDate}}
                </span>
                {{else}}
                <span class="endDate">
                    - Present
                </span>
                {{/if}}
            </div>
        </div>
        
        {{#if summary}}
            <div class="grid-x grid-margin-x">
                <div class="cell auto summary">
                    <p>{{summary}}</p>
                </div>
            </div>
        {{/if}}

        {{#if highlights.length}}
            <div class="grid-x grid-margin-x ok-break-after">
                <div class="cell">
                <ul class="highlights">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
                </div>
            </div>
        {{/if}}
    </div>
	{{/each}}
</section>
{{/if}}